.popup__submit-profile-info-btn {
  width: 100%;
  margin: 0 auto 37px;
  padding: 14px 0 15px;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  opacity: 1;
  transition: opacity .3s linear;
  cursor: pointer;
  font-size: 18px;
}

.popup__submit-profile-info-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 580px) {
  .popup__submit-profile-info-btn {
    margin-bottom: 25px;
    padding-bottom: 16px;
    font-size: 14px;
  }
}
