.root {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-color: #000;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.header {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 45px;
  min-height: 73px;
  border-bottom: 1px solid #545454;
  margin-bottom: 40px;
}

@media screen and (max-width: 880px) {
  .header {
    max-width: 580px;
    padding-top: 28px;
    min-height: 56px;
    margin-bottom: 42px;
  }
}

@media screen and (max-width: 580px) {
  .header {
    max-width: 320px;
    padding-top: 28px;
    min-height: 56px;
    margin-bottom: 42px;
  }
}

@media screen and (max-width: 580px) {
  .header__logo {
    margin-left: 27px;
    width: 103px;
    height: 24px;
  }
}

.profile {
  max-width: 880px;
  margin: 0 auto 51px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 880px) {
  .profile {
    max-width: 580px;
  }
}


@media screen and (max-width: 580px) {
  .profile {
    margin: 0 auto 36px;
    max-width: calc(320px - 19px * 2);
    flex-direction: column;
  }
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

@media screen and (max-width: 580px) {
  .profile__avatar {
    margin: 0 auto 26px;
  }
}

.profile__profile-info {
  max-width: 336px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 244px 0 0;
}

@media screen and (max-width: 880px) {
  .profile__profile-info {
    margin: 0 auto;
  }
}

@media screen and (max-width: 580px) {
  .profile__profile-info {
    margin: 0 auto 31px;
    justify-content: center;
  }
}

.profile__profile-name {
  max-width: 293px;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.15;
  margin: 0 19px 10px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 880px) {
  .profile__profile-name {
    font-size: 27px;
    font-weight: 500;
    line-height: 1.2;
  }
}



@media screen and (max-width: 580px) {
  .profile__profile-name {
    font-size: 27px;
    font-weight: 500;
    line-height: 1.2;
    margin: 0 10px 9px 25px;
  }
}

.profile__edit-profile-info {
  width: 24px;
  height: 24px;
  background-color: black;
  border: 1px solid white;
  background-image: url(./images/profile-edit-profile-info.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  transition: opacity .3s linear;
  cursor: pointer;
}

.profile__edit-profile-info:hover {
  opacity: 0.6;
}

@media screen and (max-width: 880px) {
  .profile__edit-profile-info {
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 580px) {
  .profile__edit-profile-info {
    width: 18px;
    height: 18px;
    margin-top: 7px;
  }
}


.profile__profile-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 580px) {
  .profile__profile-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
  }
}


.profile__add-mesto {
  width: 150px;
  height: 50px;
  background-color: black;
  border: 1px solid white;
  border-radius: 2px;
  background-image: url(./images/profile-add-mesto.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  opacity: 1;
  transition: opacity .3s linear;
  cursor: pointer;
}

.profile__add-mesto:hover {
  opacity: 0.6;
}

@media screen and (max-width: 580px) {
  .profile__add-mesto {
    margin: 0 auto;
    width: 282px;
    height: 50px;
    background-size: 16px 16px;
  }
}


.photo-grid {
  max-width: 882px;
  margin: 0 auto 66px;
  padding: 0;
}

@media screen and (max-width: 880px) {
  .photo-grid {
    margin: 0 auto 48px;
    max-width: 581px;
  }
}

@media screen and (max-width: 580px) {
  .photo-grid {
    margin: 0 auto 48px;
    max-width: 282px;
  }
}

.photo-grid__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  gap: 20px 17px;
  list-style: none;
  padding: 0;
}

.photo-grid__item {
  display: block;
  max-width: 100%;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.photo-grid__description {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 0px 0px 10px 10px;
  padding: 25px 15px 26px 21px;
  align-items: center;
}

.photo-grid__title {
  color: #000;
  margin: 0;
  max-width: 195px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.photo-grid__like-photo {
  margin: 0;
  margin-right: 3px;
  padding: 0;
  width: 22px;
  height: 19px;
  border: none;
  background-color: white;
  background-image: url(./images/photo-grid-like-photo.svg);
  opacity: 1;
  transition: opacity .3s linear;
  cursor: pointer;
}

.photo-grid__like-photo:hover {
  opacity: 0.5;
}

.photo-grid__like-photo:active {
  background-image: url(./images/photo-grid-like-photo-active.svg);
}

.footer {
  max-width: 880px;
  margin: 0 auto;
  padding-bottom: 60px;
}

@media screen and (max-width: 880px) {
  .footer {
    margin: 0 auto;
    max-width: 581px;
  }
}

@media screen and (max-width: 580px) {
  .footer {
    margin: 0 auto;
    max-width: 282px;
  }
}

.footer__author {
  margin: 0;
  color: #545454;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}

@media screen and (max-width: 580px) {
  .footer__author {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
  }
}


.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.popup__container {
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 auto;
}

@media screen and (max-width: 580px) {
  .popup__container {
    width: 282px;
    height: 322px;
  }
}

.popup_edit-profile-info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.popup__title {
  color: #000;
  max-width: 330px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  margin: 34px 0 54px 36px;
  margin-left: 36px;
}

@media screen and (max-width: 580px) {
  .popup__title {
    font-size: 18px;
    font-weight: 900;
    line-height: 1.2;
    margin: 25px 25px 75px;
  }
}

.popup__profile-name {
  width: 358px;
  height: 27px;
  margin: 0 auto 30px;
  padding: 0;
  border: none;
  font-size: 14;
  font-weight: 400;
  line-height: 1.2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 580px) {
  .popup__profile-name {
    width: 238px;
    height: 14px;
  }
}

.popup__profile-description {
  width: 358px;
  height: 27px;
  margin: 0 auto 48px;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 580px) {
  .popup__profile-description {
    width: 238px;
    height: 14px;
    margin: 0 auto 45px;
  }
}

.popup__submit-profile-info {
  width: 364px;
  height: 50px;
  margin: 0 auto 37px;
  padding: 0;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  opacity: 1;
  transition: opacity .3s linear;
  cursor: pointer;
}

.popup__submit-profile-info:hover {
  opacity: 0.8;
}

@media screen and (max-width: 580px) {
  .popup__submit-profile-info {
    width: 238px;
    height: 46px;
    margin: 0 auto 25px;
  }
}

.popup__btn-close-popup {
  position: relative;
  bottom: calc(330px + 16px + 32px);
  left: calc(430px + 8px);
  width: 32px;
  height: 32px;
  background-image: url(./images/popup-close-icon.svg);
  background-position: center;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  opacity: 1;
  transition: opacity .3s linear;
  cursor: pointer;

}

.popup__btn-close-popup:hover {
  opacity: 0.6;
}

@media screen and (max-width: 580px) {
  .popup__btn-close-popup {
    width: 20px;
    height: 20px;
    background-size: 20px;
    bottom: calc(320px + 16px);
    left: calc(282px - 20px);
  }
}
