.photo-grid__like-photo {
  margin: 0;
  margin-right: 3px;
  padding: 0;
  width: 22px;
  height: 19px;
  border: none;
  background-color: white;
  background-image: url(../../../images/photo-grid-like-photo.svg);
  opacity: 1;
  transition: opacity .3s linear;
  cursor: pointer;
}

.photo-grid__like-photo:hover {
  opacity: 0.5;
}

.photo-grid__like-photo:active {
  background-image: url(../../../images/photo-grid-like-photo-active.svg);
}
