.popup__close-popup-btn {
    position: relative;
    bottom: calc(330px + 16px + 32px);
    left: calc(430px + 8px);
    width: 32px;
    height: 32px;
    background-image: url(../../../images/popup-close-icon.svg);
    background-position: center;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    opacity: 1;
    transition: opacity .3s linear;
    cursor: pointer;

  }

  .popup__close-popup-btn:hover {
    opacity: 0.6;
  }

  @media screen and (max-width: 580px) {
    .popup__close-popup-btn {
      width: 20px;
      height: 20px;
      background-size: 20px;
      bottom: calc(320px + 16px);
      left: calc(282px - 20px);
    }
  }
